<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="true"
    xmlns="http://www.springframework.org/schema/beans" 
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:jpa="http://www.springframework.org/schema/data/jpa"
    xsi:schemaLocation="  
       http://www.springframework.org/schema/beans   
       http://www.springframework.org/schema/beans/spring-beans.xsd  
       http://www.springframework.org/schema/mvc   
       http://www.springframework.org/schema/mvc/spring-mvc.xsd   
       http://www.springframework.org/schema/tx   
       http://www.springframework.org/schema/tx/spring-tx.xsd   
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/util 
       http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/data/jpa 
       http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
 
    <!-- 配置SecurityManager对象(shiro框架核心) -->
    <bean id="securityManager"
          class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
          <property name="Realm" ref="shiroUserRealm"/>
          <property name="CacheManager" ref="cacheManager"/>
          <property name="RememberMeManager" ref="cookieRememberMeManager"/>
          <property name="SessionManager" ref="sessionManager"/>
    </bean>
    <!-- 配置shiro中的缓存 -->
    <bean id="cacheManager" 
          class="org.apache.shiro.cache.MemoryConstrainedCacheManager"/>
    <!-- 记住我配置 -->
    <bean id="simpleCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <constructor-arg value="rememberMe"/>
        <property name="MaxAge" value="#{7*24*60*60}"/>
    </bean>
    <bean id="cookieRememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
        <property name="Cookie" ref="simpleCookie"/>
    </bean>
    <!-- 配置session管理器 -->
    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
         <!-- 设置全局会话超时时间，默认30分钟，即如果30分钟内没有访问会话将过期 1800000 -->
         <property name="globalSessionTimeout" value="#{1000*60*60}"/>
         <!-- 删除失效的session -->
         <property name="deleteInvalidSessions" value="true"/>
        <!-- 是否开启会话验证器，默认是开启的 -->
         <property name="sessionValidationSchedulerEnabled" value="true"/>
     </bean>
    
    <!-- 配置ShiroFilterFactoryBean对象 -->
    <bean id="shiroFilterFactory"
          class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
          <property name="SecurityManager" ref="securityManager"/>
          <property name="LoginUrl" value="/doLoginUI.do"/>
          <property name="FilterChainDefinitionMap">
               <map>
                 <entry key="/bower_components/**" value="anon"/>
                 <entry key="/build/**" value="anon"/>
                 <entry key="/dist/**" value="anon"/>
                 <entry key="/plugins/**" value="anon"/>
                 <entry key="/user/doLogin.do" value="anon"/>
                 <entry key="/doLogout.do" value="logout"/>
                 <entry key="/**" value="user"/>
               </map>
          </property>
    </bean>
    
    <!-- shiro 授权配置 -->
      <!-- 配置bean对象的生命周期管理 -->
     <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor">
     </bean>
     <!-- 通过此配置要为目标业务对象创建代理对象-->
     <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
           depends-on="lifecycleBeanPostProcessor">
     </bean> 
     <!-- 授权属性的Advisor配置-->
     <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
         <property name="SecurityManager" ref="securityManager"/>
     </bean>
    
           
</beans>









